@model Shop.ViewModels.DetailsListViewModel

@{
    ViewData["Title"] = "Админитратор: Детали";    
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<h1>Детали</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Создать</a>
</p>
<form asp-controller="DetailsAdmin" asp-action="Index" method="get">
    <p>
        <select class="form-select col-3" asp-for="currCategory" asp-items="Model.Categories">
            <option value="">Все категории</option>
        </select>

        Название: <input class="form-control" type="text" asp-for="SearchString" />
        <input class="btn btn-dark col-2 mt-2 align-content-center" type="submit" value="Поиск" />
    </p>
</form>

<table class="table">
   <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.allDetails.First().detailName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.allDetails.First().Category.categoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.allDetails.First().model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.allDetails.First().gost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.allDetails.First().drawingNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.allDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.detailName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.categoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.drawingNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.detailId">Edit</a> |
                    <a asp-action="DetailReview" asp-route-id="@item.detailId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.detailId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
